* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* user-select: none; */
    -webkit-tap-highlight-color: none;
}

body {
    background-color: #333;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

input,
textarea {
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 20px;
}